@model miniCMS.Models.Conteudo

@{
    ViewData["Title"] = "Edit";
    Layout = "_LayoutAdmin";

}
<link href="~/richtexteditor/rte_theme_default.css" rel="stylesheet" />
<script src="~/richtexteditor/rte.js"></script>
<script src="~/richtexteditor/plugins/all_plugins.js"></script>
<script src="~/richtexteditor/rte.js"></script>

<h1 class="mt-3">Editar</h1>
<div class="row">
    <div class="col-sm-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="new-page-link">
                    <span>CMS/Page/ </span><input asp-for="Pagina" class="form-control" />
                </div>
                <span asp-validation-for="Pagina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <textarea id="div_editor" asp-for="Texto" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Texto" class="text-danger"></span>
            </div>
            <script>
                var editor1 = new RichTextEditor(document.getElementById("div_editor"));
            </script>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Autor" class="control-label"></label>
                        <input asp-for="Autor" class="form-control" />
                        <span asp-validation-for="Autor" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Data" class="control-label"></label>
                        <input asp-for="Data" class="form-control" />
                        <span asp-validation-for="Data" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" name="submit" class="btn btn-success mt-2" value="Editar" />
                <a class="btn btn-outline-info mt-2" asp-action="Index">Voltar a lista</a>

            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
