@{
    ViewData["Title"] = "Pagina";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
Titulo = "<h1>Página 1</h1>",
 Texto = "<p>Conteudo da página 1</p>"
 Autor = "miniCMS",
 Data = DateTime.Now